@model IEnumerable<GUI_Try2222.Data.ExpectedArrival>

<!DOCTYPE html>

<head>


    @{
        ViewData["Title"] = "CookingDetails";


    }

</head>
<h1>GuestList</h1>


<h2>Show items but selecting a date and press enter</h2>

<form method="POST">
    <label for="myDate">Date goes here</label>
    <input for="myDate" type="date" id="myDate" name="myDate"/>
    <input type="submit" />
</form>

<h1>Expected guets list</h1>
<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Adults)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Children)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           @{ 
               var adultsTotal = 0;
               var childrenTotal = 0;
            }

            @foreach(var items in Model)
            {
                adultsTotal += items.Adults;
                childrenTotal += items.Children;
            }

           

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => adultsTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => childrenTotal)
                    </td>
                </tr>
           
</table>

