@model GUI_Try2222.Data.ExpectedArrival

@{
    ViewData["Title"] = "Create";
}

<div class="expected-dec">
    <h3>ExpectedArrival</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Adults" class="control-label"></label>
                    <input asp-for="Adults" class="form-control" />
                    <span asp-validation-for="Adults" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Children" class="control-label"></label>
                    <input asp-for="Children" class="form-control" />
                    <span asp-validation-for="Children" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpenseDate" class="control-label"></label>
                    <input asp-for="ExpenseDate" type="date" class="form-control">
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="btn btn-primary">
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
