/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

nav a {
    color: #B0B0B0;
}

.booking-dec {
    font-family: 'Montserrat';
    color: #C0C0C0;
    font-style: oblique;
}

.expected-dec {
    font-family: 'Montserrat';
    color: #C0C0C0;
    font-style: oblique;
}


.control-label {
    color: #C0C0C0;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(176,176,176)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.logo {
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    color: rgb(226,226,226);
    margin-left:0;
    margin-right:30px;
}


.btn-primary {
    color: black;
    background-color: #C0C0C0;
    border-color: black;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #A7A590;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.menu-bar {
    min-height: 8%;
    background: #1B1E21;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    background: url('../Img/fresh-appetizing-breakfast-dark-background_1220-4570 (1).jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    background-color: #333;
    font-family: 'Open sans',Arial,Helvetica, sans-serif;
    height: 100%;
}

.footer {
  position: relative;
  box-shadow:none;
  bottom: 0;
  width: 100%;
  /*white-space: nowrap;*/
  line-height: 60px; /* Vertically center the text there */
}

#main{
    overflow:auto;
    padding-bottom: 100px;
}

#container{
    min-height:100%;
}




/*
    Style for calender
*/
.container_calender {
    width: 400px;
    height: 200px;
    position: relative;
    perspective: 1000;
    -webkit-perspective: 1000;
    left: calc(50% - 200px);
    top: calc(50vh - 100px);
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform 1s ease;
    cursor: pointer;
}

.back, .front {
    border-radius: 6px;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.contentfront {
    width: 100%;
    height: 100%;
    float: left;
    transform: translatez(60px);
    -webkit-transform: translatez(60px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.contentback {
    width: 100%;
    height: 100%;
    float: left;
    transform: translatez(60px);
    -webkit-transform: translatez(60px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.back {
    transform: rotateY(180deg);
    background-color: #232227;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    text-transform: uppercase;
    background-color: #232227;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.date {
    height: 100%;
    width: 127px;
    float: left;
    background-color: #E76642;
    border-radius: 0 6px 6px 0;
    text-align: right;
    padding: 10px 30px;
    box-sizing: border-box;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.datecont {
    height: 100%;
    transform: translatez(60px) scale(.9);
    -webkit-transform: translatez(60px) scale(.9);
}

#date {
    font-size: 50px;
    color: #ECECE7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    float: right;
}

#day {
    float: right;
    font-size: 14px;
    color: #232227;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#month {
    float: right;
    font-size: 10px;
    color: #232227;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.date i {
    color: #ECECE7;
    position: absolute;
    bottom: 10px;
    right: 0;
}

    .date i:hover {
        color: #232227;
        transition: .3s ease;
    }

.month {
    height: 100%;
    width: 270px;
    float: left;
    padding: 20px 30px;
    box-sizing: border-box;
}

    .month table {
        width: 100%;
    }

.orangeTr {
    color: #E76642;
}

.whiteTr {
    color: #ECECE7;
}

    .whiteTr th:hover {
        color: #E76642;
        transition: .3s ease;
    }

.month tr {
    height: 24px;
}

.month th {
    width: 14%;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.flipped {
    transform: rotateY(-180deg);
    /*height:400px;
  width:200px;
  left:calc(50% - 100px);
  top:calc(50vh - 200px);*/
}

.backcontainer {
    transform-style: preserve-3d;
    width: calc(100% - 60px);
    height: calc(100% - 40px);
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    /*transform:translatez(60px) scale();*/
    background-color: #E76642;
    border-radius: 6px;
    padding: 10px 30px;
    box-sizing: border-box;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}


